

#wrapper {
    /* Using CSS Grid (new tech requirement?) */
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
}

#nav-sidebar-wrapper {
    background-color: lightgrey;
}

#nav-sidebar-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

#search-sidebar-wrapper {
    background-color: lightgray;
}

#content-wrapper {
    overflow-y: auto; /* Allows scrolling */

}

#search-results{
    overflow-y: auto;
}